<% provide(:title, 'The Deep South') %>

	<div class="col-xs-12">
		<div class="galleria">
		</div>
		<script>
	        Galleria.loadTheme("<%= asset_url('assets/galleria/themes/classic/galleria.classic.min.js')%>");
	        Galleria.run('.galleria', {
			    responsive: true,   // Adapt to screen size
		        height: 0.5625,      // Keep a 16:9 aspect ratio
		        showCounter: false,
		        flickr: 'set:72157640607666844',
		        flickrOptions: {
			        imageSize: 'big'
			    }
			});
	    </script>
	</div>
