<% provide(:title, 'Entrepreneur') %>

		<div class="col-xs-10 col-xs-offset-1">
            <h4>"YOU WILL BE MORE DISAPPOINTED BY THE THINGS YOU DIDN’T DO THAN BY THE ONES YOU DID."</h4>
            <h5>MARK TWAIN</h5>
            </br>
        </div>
        <div class="col-xs-8 col-xs-offset-1">
            <p>
            Ever since childhood, I've been an ideas guy. But it never really occurred to me that these ideas could be the cornerstone of people's lives until I started living San Francisco. Currently, I am building a platform to help people borrow from friends & neighbors. My vision is to make borrowing the first thing we think of when we need a tent for a camping trip or a drill for a DIY-afternoon. This is my day job.
            </p>
            <p>
                Follow my journey and blog below, and click the thumbnail at right to checkout the prototype!
			</p>
        </div>
        <div class="col-xs-2">
            <%= link_to(image_tag("Home thumbnails/Photographer.jpg", class: "img-responsive"), "http://borrows.herokuapp.com", class: "thumbnail") %>
            <h5>BORROW SOMETHING NOW!</h5>
        </div>

        <iframe src='http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0AvOrM-9d2V2qdHBpSU94V25iSXRrTlltV0dWb2ZUSEE&font=Bevan-PotanoSans&maptype=toner&lang=en&height=450' width='100%' height='450' frameborder='0'></iframe>