<% provide(:title, 'Entrepreneur') %>

		<div class="col-xs-10 col-xs-offset-1">
            <h4>"YOU WILL BE MORE DISAPPOINTED BY THE THINGS YOU DIDN’T DO THAN BY THE ONES YOU DID."</h4>
            <h5>MARK TWAIN</h5>
            </br>
        </div>
        <div class="col-xs-8 col-xs-offset-1">
            <p>
            Ever since childhood, I've been an ideas guy. But it never really occurred to me that these ideas could be the cornerstone of people's lives until I started living San Francisco. Currently, I am building a platform to help people borrow from friends & neighbors. My vision is to make borrowing the first thing we think of when we need a tent for a camping trip or a drill for a DIY-afternoon. This is my day job.
            </p>
            <p>
            Follow my journey below (new post on Tuesday, <a href="<%= new_contact_path %>">email me to subscribe</a>). Click the thumbnail at right to test the prototype!
			</p>
        </div>
        <div class="col-xs-2">
            <%= link_to(image_tag("Entrepreneur thumbnails/borrows.jpg", class: "img-responsive", alt: "http://borrows.herokuapp.com", title: "http://borrows.herokuapp.com"), "http://borrows.herokuapp.com", :target => "_blank", class: "thumbnail") %>
        </div>
        </br>
        <hr>
        <div id="timeline-embed">
        </div>
        </br>

        <style>
        .vco-slider .slider-item .content .content-container .text {
            width: 60% !important;
            max-width: 70%;
        }
        </style>

        <script type="text/javascript">
            var timeline_config = {
                width:              '100%',
                height:             '450',
                source:             'https://docs.google.com/spreadsheet/pub?key=0AvOrM-9d2V2qdHBpSU94V25iSXRrTlltV0dWb2ZUSEE&output=html',
                embed_id:           'timeline-embed',               //OPTIONAL USE A DIFFERENT DIV ID FOR EMBED
                start_at_end:       true,                          //OPTIONAL START AT LATEST DATE
                start_zoom_adjust:  '-4',                            //OPTIONAL TWEAK THE DEFAULT ZOOM LEVEL
                hash_bookmark:      true,                           //OPTIONAL LOCATION BAR HASHES
                font:               'Bevan-PotanoSans',             //OPTIONAL FONT
                debug:              true,                           //OPTIONAL DEBUG TO CONSOLE
                lang:               'en',                           //OPTIONAL LANGUAGE
                /*maptype:            'watercolor',                   //OPTIONAL MAP STYLE */
            }
        </script>
        <script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js"></script>