<% provide(:title, 'Entrepreneur') %>

		<div class="col-xs-10 col-xs-offset-1">
            <h4>"YOU WILL BE MORE DISAPPOINTED BY THE THINGS YOU DIDN’T DO THAN BY THE ONES YOU DID."</h4>
            <h5>MARK TWAIN</h5>
            </br>
            <p>
            Ever since childhood, I've been an ideas guy. But it never really occurred to me that these ideas could be the cornerstone of people's lives until I started living San Francisco. Currently, I am building a platform to help people borrow from their friends & neighbors. This sounds easy. But the reality is most people don't know who has what, where, when; and even if they do, they don't ask to borrow out of guilt or fear. My vision is to make borrowing the first thing we think of when we need a tent for a camping trip or a drill for a DIY-afternoon. 
        	</p>
        	<p>
        	This is my day job. I taught  myself to code, interviewed scores of consumers and entrepreneurs, and made some pretty interesting discoveries. Join me on this journey!
        	<ul>
        	<li>Read about the rollercoaster I'm on by checking out my <a href="/entrepreneur/blog">blog</a></li>.
        	<li>Sign-up to be one of the first to try the product by visiting the <a href="http://borrows.herokuapp.com">landing page</a></li>
   			</ul>
   			<a href="http://borrows.herokuapp.com" class="thumbnail"><img src="/assets/Home thumbnails/Photographer.jpg" class="img-responsive" alt="Borrows prototype"></a>
			</p>
            </br>
        </div>