<% provide(:title, 'Portrait Photography FAQ') %>

	<div class="col-xs-8 col-xs-offset-2">
            <h4>FREQUENTLY ASKED QUESTIONS</h4>
            </br>
            <b>Do you only do portrait photography?</b>
            <p>For paid services, I am most often requested as a portrait photographer, though I have and am open to many different types of photography. Please discuss your specific needs with me; I promise to be honest as to whether or not I will be a good fit.</p>

            <b>What does price of a photo session include?</b>
            <p>Prices already include applicable taxes and cover my time during the session and during pre-planning and post-processing.  Expenses such as transportation are not included and must be negotiated separately.  Typically, transportation expenses are only required for locations outside of San Francisco.</p>  

            <b>Can I do a photo session for longer than 2 hours, or a session at a half hour increment?</b>
            <p>Unfortunately not at this time.  I am streamlining my sessions so that I can rapidly process and distribute photos for all clients.</p>  

            <b>What if I'm uncomfortable in front of a camera?</b> 
            <p>Many people are the same way. Don't worry! I have some tried-and-true techniques to coax you out of your shell.</p>

            <b>Is there a limit to how many photos you will send me?</b>
            <p>No!  As long as a photo meets my professional standards for quality, I will send it to you--you are paying me I will not hold back any images from you.</p>

            <b>Can I request changes to the photographs?</b>
            <p>Yes!  I will happily make minor changes (per my philosophy on photo editing below, I won't remove or add any elements to the image) before sending you the final photos.  Changes can include brightening, crops, changing styles (e.g., to black and white).</p>

            <b>What is your position on photo editing & post-processing?</b>
            <p>Memories are often far more vibrant than reality & almost all photographers edit/ process photos to achieve this expectation.   However, while I will enhance images, I will not create or alter parts of an image.  Technically speaking, I draw the line at creating or deleting pixels.</p>

            <b>How do you accept payment?</b>
            <p>You can pay for a photo session in 50% increments (i.e., deposit and remainder) online, remainder can also be paid by cash or check if you bring this during the day of the session.  For all other expenses online payments can be made via a secondary page.</p>

            <b>Do you sell the photographs in your existing portfolio?</b>
            <p>I do sell (and print) on an as-ordered basis.  Thank  you for your interest!  Please let me know what you would like and we can discuss specifics (e.g., size, framing, price).</p>

            <b>For portraits including engagements, how many poses/ locations can be covered in our time together?</b>
            <p>This depends significantly on how far apart locations are & set-up time required (e.g., if you want to climb a tree, change clothes, etc.).  If locations are far apart, it would be more efficient for you to have two sessions (that way you concentrate on being a model and I can take more photos).  At a given location, I would estimate two poses every 20 minutes.</p>

            <b>Can you create physical productions (such as photo books or prints) from our photo session?</b>
            <p>I can for an additional fee to be discussed.</p>

            <b>Can I have another professional photographer present at the photo session?</b>
            <p>Yes, I understand that I am one person and cannot capture every angle. You are welcome to invite whomever else you want!</p>

            <b>How will the final images be sent?</b>
            <p>Via the cloud (e.g., DropBox).  If needed, we can discuss other distribution options.</p> 

            <b>Do you offer or can you recommend styling services as part of the session?</b>
            <p>Unfortunately, I do not/ can not.  Be yourself!  You'll look great!</p> 

    </div>
