<% provide(:title, 'Foodie') %>

		<div class="col-xs-10 col-xs-offset-1">
            <h4>"FIRST WE EAT, THEN WE DO EVERYTHING ELSE."</h4>
            <h5>M.F.K. FISHER</h5>
            </br>
            <p>
            I cook to eat and fuel myself through the long days. I cook to meditate; its one of the few activities where my mind doesn't wander. I cook to be in touch with society and culture on a more profound level. I don't really rely on recipes. They're useful for flavor combinations, but quantities should be determined by individual palate. I cook things that my mind tells me should taste good; most of the time I'm right. 
            <p>
            Below you can find snapshots of my favorite dishes, but this page is a work in progress. What do you want to see: recipes, ingredients, photos, reviews? <a href="<%= new_contact_path %>">Tell me.</a>
			</p>
            </br>
        </div>
        <hr>

        <div class="col-xs-9 col-xs-offset-2">
            <% @images.each do |image| %>
            <div class="col-xs-2 foodie-thumb"> 
                <%= image_tag("Foodie thumbnails/#{image}.jpg", class: "img-responsive", alt: "#{image}", title: "#{image}") %>
            </div>

            <% end %>
        </br>
        </div>