<% provide(:title, 'Portrait Portfolio') %>    

    <!-- <style>
    /* this section is a hack to make the portraits not have to have titles */
    .galleria-stage { margin-top: 0px }
    .galleria-info-title { font: bold 12px/1.1 arial,sans-serif; color: black; opacity: 0;}
    </style> -->

    <div class="col-xs-12 col-xs-offset-1">
        <% @images.each do |image, key| %>
        <div class="col-xs-1" id="<%= "#{image}" %>"> 
            <%= image_tag("Portrait thumbnails/#{image}.jpg", class: "img-responsive") %>
            <h6><%= "#{image}" %></h6>
        </div>

        <% end %>
    </div>
    <hr>

    <div class="col-xs-12">
        <div class="galleria">
        </div>
            <script>
                for ( var image in gon.images )
                    console.log("set:" + gon.images[image])
                    document.getElementById(image).onclick = function()
                    {
                        Galleria.loadTheme("<%= asset_path 'galleria.classic.min.js' %>");
                        Galleria.run('.galleria', {
                            responsive: true,   // Adapt to screen size
                            height: 0.5625,      // Keep a 16:9 aspect ratio
                            showCounter: false,
                            flickr:"set:" + gon.images[image],
                            flickrOptions: {
                                imageSize: 'big'
                            }
                        });
                    }

            </script>
    </div>