<% provide(:title, 'Reflections in Yosemite') %>

	<div class="col-xs-12">
		<div class="galleria">
		</div>
		<script>
	        Galleria.loadTheme("<%= asset_path "/galleria.classic.min.js" %>");
	        Galleria.run('.galleria', {
			    responsive: true,   // Adapt to screen size
		        height: 0.5625,      // Keep a 16:9 aspect ratio
		        showCounter: false,
		        flickr: 'set:72157640607561055',
		        flickrOptions: {
			        imageSize: 'big'
			    }
			});
	    </script>
	</div>
 