<!DOCTYPE html> 
<html> 
<head> 
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
</head> 

<body> 
	<h1>Visitor requests contact</h1> 
	
	<h2>Name</h2>
	<p> 
		<%= @contact.name %></br>
	</p>
	
	<h2>Email</h2>
	<p>	
		<%= @contact.email %></br>
	</p>

	<h2>Comment</h2>
	<p>	
		<%= @contact.comment %></br>
	</p>

</body> 
</html>

<!--modified from Kehoe, but this isn't the problem so it's fine-->