
<nav class="navbar navbar-static-top center" role="navigation">
  <div class="navbar-inner">
  	<div class="container fluid">
	
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav">
		          <li><a class="navbar-brand" href="<%= root_path %>">James Dong</a></li>
		          <ul class="nav navbar-nav nav-left">
		    		<li><a href="<%= entrepreneur_path%>">Entrepreneur</a></li>
		    		<li><a href="<%= photographer_path%>">Photographer</a></li>
		    		<li><a href="<%= foodie_path%>">Foodie</a></li>
		   		  </ul>
		   	</ul>
		</div>
		<hr>	
  	</div>
  </div>

</nav>
